anaconda-client==1.2.2
conda==4.3.16
conda-build==2.1.5
contextlib2==0.5.5
dj-database-url==0.5.0
Django==2.2.3
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
gunicorn==19.9.0
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.17
json5==0.8.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-launcher==0.13.1
jupyterlab-server==1.0.0
path.py==12.0.1
psycopg2-binary==2.8.3
py==1.8.0
pylint==2.3.1
pypi==2.1
python-dateutil==2.8.0
pytz==2019.1
QtPy==1.8.0
requests==2.22.0
rope==0.14.0
SQLAlchemy==1.3.5
sqlparse==0.3.0
unicodecsv==0.14.1
whitenoise==4.1.3
